/* import roboto condesned */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    background-color: #333;
}
h1 {
    color: #fff;
}