/* Windows Terminal Colors

active tab: #0d0d0c
titlebar background: #2f2f2e
main background: #292929
option background: #323232
option shadow: #242424
button background: #3e3f3e
button blue: #4cc3fe
button blue hover: #3c9ccd
x button red: #bf2a1b
strong text: #ffffff
dark text: #000000
muted text/dropdown arrows/switches: #adadad
*/

:root {
  /* Colors */
  --item--color: #323232;
  --blue-button: #4cc3fe;
  --blue-button-hover: #3c9ccd;
  --strong-text: #ffffff;
  --dark-text: #000000;
  --background-color: #292929;
  --item-shadow: #222222;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;

  background-color: var(--background-color, #222);
  border-radius: 1em;
}

h1 {
  color: var(--strong-text);
  font-weight: 700;
}

#profile-list {
  list-style-type: none;
  padding: 0;
}

.button {
  color: var(--dark-text, #000000);
  background-color: var(--blue-button, #4cc3fe);
}
.button:hover {
  color: var(--dark-text, #000000);
  background-color: var(--blue-button-hover);
}

.profile span {
  position: absolute;
}

/*
TODO: Title bar color
TODO: Title bar icon
*/
.profile {
  color: var(--strong-text);
  background-color: var(--item--color, gray);
  border-width: 1px;
  border-color: var(--item-shadow);
}

.profile-hidden {
  opacity: 0.5;
}
